@use "./globals.scss";
.open,
.close {
  border: 1px solid globals.$gray-25;
}
.heading {
  font-size: globals.$body;
}
.text {
  overflow: hidden;
  height: 0px;
}
.open .text {
  animation: openAnim 0.5s forwards;
}
.close .text {
  animation: closeAnim 0.5s forwards;
}
@keyframes openAnim {
  0% {
    height: 0px;
  }
  99% {
    height: var(--text-height);
  }
  100% {
    height: auto;
  }
}
@keyframes closeAnim {
  0% {
    height: var(--text-height);
  }
  100% {
    height: 0px;
  }
}
.heading button {
  all: unset;
  outline: unset;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.icon {
  color: globals.$gray-25;
  font-size: 1.25em;
  transition: transform 0.5s;
}
.open .icon {
  transform: rotate(180deg);
}
.textInner {
  padding: 0 1.14em 1.14em;
  font-size: calc(globals.$body * 0.875);
}
