@use "./globals.scss";
@media screen and (min-width: 768px) {
  .btn {
    display: none;
  }
  .list {
    display: flex;
    gap: 2em;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 42px;
    height: 42px;
    position: relative;
    z-index: 200;
    display: grid;
    place-items: center;
  }
  //ハンバーガー
  .btn::before,
  .btn::after,
  .btn .bar {
    grid-area: 1 / 1;
    content: "";
    display: block;
    width: 32px;
    height: 1px;
    background-color: currentColor;
  }
  .close .btn::before {
    transform: translateY(-8px);
  }
  .close .btn::after {
    transform: translateY((8px));
  }
  .open .btn::after {
    transform: rotate(45deg);
  }
  .open .btn::before {
    transform: rotate(-45deg);
  }
  .open .btn .bar {
    transform: scale(0);
  }
  .close .btn {
    color: globals.$gray-75;
  }
  .open .btn {
    color: #fff;
  }
  //メニューオーバーレイ
  .list {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background-color: rgba(#000, 0.8);
    color: globals.$white;
    transition: transform 0.4s;
  }
  .open .list {
    transform: translateX((-100%));
  }
  .list {
    display: grid;
    gap: 40px;
    place-content: center;
    text-align: center;
  }
}
.list a {
  transition: all 0.3s;
}
@media (hover: hover) {
  .list a:hover {
    color: globals.$accent;
  }
}
@media (hover: none) {
  .lista a {
    -webkit-tap-highlight-color: transparent;
  }
  .list a:active {
    color: globals.$accent;
  }
}
